<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" />
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
     <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.2.min.js"></script>
</head>
<body>

<!--/引入模板头部-->
<include file="common/head" />   

<div class="container clearfix">

<!--/引入模板左部-->
    <include file="common/left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__MODULE__/Role/lst">角色管理</a><span class="crumb-step">&gt;</span><span>新增角色</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>角色名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="rolename" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>角色的权限：</th>
                                <td>
                                <ul>
                                <volist name="pris" id="vo">
                                <li level="{$vo.level}">
                                <input class="common-text" name="pri_id_list[]" size="50" value="{$vo.id}" type="checkbox">
                                <if condition="$vo['parentid'] neq 0">|</if><?php echo str_repeat('-', $vo['level']*8);?>
                                {$vo.pri_name}
                                </li>
                                </volist>
                                </ul>
                                </td>
                            </tr>
                            
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
<script type="text/javascript">
    $(":checkbox").click(function(){
        var cur_li=$(this).parent();
        var level=cur_li.attr("level");
        var checked=$(this).attr("checked");
        cur_li.prevAll("li").each(function(){
            if($(this).attr("level")<level && checked ){
                $(this).find(":checkbox").attr("checked","checked");
                if($(this).attr("level")==0){
                    return false;
                }
            }
        });

        if(!checked){
           //
           cur_li.nextAll("li").each(function(){
            if($(this).attr("level")>level){
                $(this).find(":checkbox").removeAttr("checked");
                
            }else{
                return false;
            }
        });
           //
        }

    });
</script>