<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" />
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>

<!--/引入模板头部-->
<include file="common/head" />   

<div class="container clearfix">

<!--/引入模板左部-->
    <include file="common/left"/>
        
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">栏目管理</span></div>
        </div>
        <!--<div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>-->
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="__CONTROLLER__/sort" >
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增栏目</a>
                         <a  href=""><i class="icon-font"></i>批量删除</a>
                        <a href=""><i class="icon-font"></i>更新排序</a>
                        <input class="icon-font" value='更新排序' type='submit' />
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input  name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>栏目名称</th>
                            <th>栏目类型</th>
                            <th>缩略图</th>
                            <th>操作</th>
                        </tr>
                        
                     <volist name='cateres' id='vo'>   
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td width="5%">
                                <input class="common-input sort-input" name="{$vo.id}" value="{$vo.sort}" type="text">
                            </td>
                            <td width="5%">{$vo.id}</td>
                            <td >{$vo['level']|str_repeat="————",###}{$vo.catename} </td>
                              <td >								                            
									 <switch name="vo.type">
									    <case value="1">列表</case>
									    <case value="2">单页</case>
									    <case value="3">留言</case>
									    <case value="4">招聘</case>
									    <default />暂无
									</switch>
                            
                              </td>
                            <td >
	                            <if condition="$vo['pic'] neq ''">
	                         		 <img src="__ROOT__{$vo.pic}" height="50" /> 
	                           		<else/>暂无缩略图
	                            </if>             
                            </td>
                            <td width="20%">
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" href="__CONTROLLER__/del/id/{$vo.id}" onclick="return confirm('是否确定删除栏目？')">删除</a>
                            </td>
                        </tr>
                    </volist>
                    
                    </table>
                   <div class="list-page">{$page}</div> 
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>